*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  /* iOS滚动条隐藏 */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  margin: 0;
  padding: 0;
}

/* 隐藏滚动条 */
*::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
  display: none !important;
}

:root {
  overflow: hidden;
}

html {
  color-scheme: light;
  overflow: hidden;
  height: 100%;
}

#app {
  height: 100% !important;
  position: relative;
  overflow-x: hidden;
}

body {
  height: 100%;
  -webkit-overflow-scrolling: touch; /* 提高滚动性能 */
  font-size: 1rem;
  line-height: 1.5;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
